  <div id="main">
        <form class="kata-form" action="http://www.scalakata.com/api/scala" target="_blank" method="post">
    <div class="kata-code-wrap">
        <textarea autofocus="" name="code" class="kata-code" style="display:none">{{page.code}}</textarea>
        <div class="kata-controls">
            <button value="Run" name="run" type="submit" class="btn btn-success">
                <i class="icon-play icon-white"></i>
            </button>

        </div>
         <div class="kata-theme">
<!--             <select onchange="selectTheme()" id="theme">
                <option selected>monokai</option>
                <option>eclipse</option>
                <option>solarized dark</option>
            </select> -->

          <div class="btn-group dropup">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
              Theme
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu theme-select">
              <li><a tabindex="-1" data-value="monokai" href="#">Monokai</a></li>
              <li><a tabindex="-1" data-value="solarized dark" href="#">Solarized Dark</a></li>
              <li><a tabindex="-1" data-value="eclipse" href="#">Eclipse</a></li>
            </ul>
          </div>

        </div> 
        <small class="credits">Code editor is using <a href="http://scalakata.com" target="_blank">Scalakata.com</a> written by <a href="https://github.com/MasseGuillaume" target="_blank">Guillaume Massé</a><!--  | tour by Guillaume, <a href="https://github.com/eranation" target="_blank">Eran Medan</a> and others -->
           
        </small>        
    </div>
    <div class="kata-result-window">
        <hr class="kata-vertical-resize-handle">
        <div class="CodeMirror">
            <!-- <div class="CodeMirror-scroll cm-s-solarized cm-s-dark"> -->
            <div class="CodeMirror-scroll cm-s-monokai">
                <pre class="kata-console"></pre>
                <pre class="kata-result"></pre>
            </div>
        </div>
    </div>
    
    </form>
    </div>
   